<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Information</title>
</head>
<body>
    <div>
        <ul>
            <li><a th:href="'/?name=' + ${foxObject.name}">Information</a></li>
            <li><a th:href="'/nutritionStore?name=' + ${foxObject.name}">Nutrition Store</a></li>
            <li><a th:href="'/trickCentre?name=' + ${foxObject.name}">Trick Centre</a></li>
            <li><a href="">Action History</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div>
        <img src="greenfox.png" alt="greenfox" />
    </div>
    <div>
        <h3 th:text="'This is Mr. ' + ${foxObject.name} + '. Currently living on ' + ${foxObject.food.name} + ' and ' + ${foxObject.drink.name} + '. He knows ' + ${foxObject.trickHashMap.size()} + ' tricks.'"></h3>
        <p><h1>Known tricks</h1></p>
        <p th:if="${foxObject.trickHashMap.size() == 0}">You know no tricks yet. Go and learn some.</p>
        <p>
            <ul>
                <li th:each="trickName : ${foxObject.trickHashMap.keySet()}" th:text="${trickName}"></li>

            </ul>
        </p>
    </div>
</body>
</html>