<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Nutrition Store</title>
</head>
<body>
<div>
    <ul>
        <li><a th:href="'/?name=' + ${foxObject.name}">Information</a></li>
        <li><a th:href="'/nutritionStore?name=' + ${foxObject.name}">Nutrition Store</a></li>
        <li><a th:href="'/trickCentre?name=' + ${foxObject.name}">Trick Centre</a></li>
        <li><a href="">Action History</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
<div>
    <img src="greenfox.png" alt="greenfox" />
</div>
<div>
    <form th:action="'/nutritionStore?name=' + ${foxObject.name}" action="#" method="post">
        <label for="food">Food: </label>
        <select name="food" id="food">
            <option th:each="foodObject : ${foods}" th:value="${foodObject.name}" th:text="${foodObject.name}"></option>
        </select>

        <label for="drink">Drink: </label>
        <select name="drink" id="drink">
            <option th:each="drinkObject : ${drinks}" th:value="${drinkObject.name}" th:text="${drinkObject.name}" th:if="${drinkObject.name} eq ${foxObject.drink.name} th:attr="selected"></option>
        </select>
        <input type="submit" value="Change">
    </form>
</div>
</body>
</html>