@model User

<table>
    <tr>
        <th>User</th>
        <th>Country</th>
        <th>User Profile</th>
    </tr>

    <tr>
        <td>@Model.UserName</td>
        <td>@Model.Country.CountryName</td>
        <td>Profile</td>
    </tr>
</table>