<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></div>
<form action="/login" method="post" th:object="${user}">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" th:field="*{name}" />
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>
</body>
</html>