<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
</head>
<body>

<div>
    <a href="/login">Login</a> | <a href="/register">Register</a>
    <div>
        <form action="/register" th:method="post" th:object="${user}">
            <label for="login-name">Name</label>
            <input type="text" id="login-name" name="login-name" th:field="*{name}" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" />
            <label for="password2">Password again</label>
            <input type="password" id="password2" name="password2" />
            <input type="submit" value="Register" />
        </form>
    </div>
</div>
</body>
</html>