.red {
    background-color: red;
}

.blue {
background-color: blue;
}

.lime {
    background-color: lime;
}

.orange {
    background-color: orange;
}

.magenta {
    background-color: magenta;
}

.green_message {
    color: greenyellow;
}

.red_message {
    color: red;
}