<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <div id="second-menu">
        <a href="/more-filters">More >></a>
    </div>
    <div id="first-menu">
        <a href="/webshop">My Shop</a>
    </div>
</div>
<hr class="special-blue">

<div class="menu full-width">
    <a class="header" href="/only-available">ONLY AVAILABLE</a>
    <a class="header" href="/cheapest-first">CHEAPEST FIRST</a>
    <a class="header" href="/contains-nike">CONTAINS NIKE</a>
    <a class="header" href="/average-stock">AVERAGE STOCK</a>
    <a class="header" href="/most-expensive">MOST EXPENSIVE AVAILABLE</a>
</div>
<div class="search-bar">
    <form action="#" th:action="@{/webshop}" method="post" modelAttribute="shopItem">
        <label class="label">Search For:</label>
        <input type="text" name="searchWord" />

        <input class="button" type="submit" value="Search">
    </form>

</div>
<div class="table-content">
    <table class="full-width">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity in Stock</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${shopItems}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getType()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getQuantityInStock()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>