<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <base href="/"/>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <div id="second-menu">
        <a href="/more-filters">More >></a>
    </div>
    <div id="first-menu">
        <a href="/webshop">My Shop</a>
    </div>
</div>
<hr class="special-blue">

<div class="menu full-width">
    <span th:each="category : ${categoriesList}">
        <a class="header" th:text="${category}" th:href="@{'/filter-by-type/' + ${category}}"></a>
    </span>
    <a class="header" href="/price-in-eur">EURO</a>
    <a class="header" href="/price-in-original">ORIGINAL CURRENCY</a>
</div>
<div class="search-bar">
    <form action="/webshop" method="post" modelAttribute="shopItem">
        <input class="button" type="submit" value="Above" name="above">
        <input class="button" type="submit" value="Below" name="below">
        <input class="button" type="submit" value="Exactly" name="exactly">
        <label class="label">Search For:</label>
        <input type="text" name="searchedPrice" />


    </form>

</div>
<div class="table-content">
    <table class="full-width">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity in Stock</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${shopItems}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getType()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getQuantityInStock()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>