<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
</head>
<body>
    <header class="special-blue"><a href="/webshop">My Shop</a></header>
    <hr class="special-blue">
    <div class="menu full-width">
        <a class="header" href="/only-available">ONLY AVAILABLE</a>
        <a class="header" href="/cheapest-first">CHEAPEST FIRST</a>
        <a class="header" href="/contains-nike">CONTAINS NIKE</a>
        <a class="header" href="/average-stock">AVERAGE STOCK</a>
        <a class="header" href="/most-expensive">MOST EXPENSIVE AVAILABLE</a>
    </div>
    <div class="table-content">
        <p th:text="${simpleContent}"></p>
    </div>
</body>
</html>