<form action="/login" method="post">
    <label>Username</label>
    <input type="text" name="username" />
    <label>Countryname</label>
    <input type="text" name="countryname" />
    <button type="submit">Enter</button>
</form>