<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todolist of Assignee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div>
    <a th:href="@{/todo/assignees}">List of assignees</a>


    <p>Todos for today:</p>
    <table>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
            <th>DELETE</th>
            <th>EDIT</th>

        </tr>
        <tr th:each="todo : ${assignee.todoList}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td th:text="${todo.isDone()}"></td>
            <td th:text="${todo.isUrgent()}"></td>
            <td><a th:href="'/todo/'+${todo.id}+'/delete'">Delete</a></td>
            <td><a th:href="'/todo/'+${todo.id}+'/edit'">Edit</a></td>

        </tr>
    </table>
</div>
</body>
</html>