<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new post</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div>
    <h1>Add new todo</h1>
    <form action="#" th:action="@{/submit}" th:object="${post}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>URL: <input type="text" th:field="*{URL}" /></p>
        <p><input type="submit" value="Submit" />
        </p>
    </form>
</div>
</body>
</html>