<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Postlist</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div>
    <p>Posts:</p>
    <a th:href="@{/submit}">Submit new post</a>

    <table>
        <tr>
            <th>Popularity</th>
            <th></th>
            <th></th>
            <th>Post name</th>
            <th>Creation date</th>
        </tr>
        <tr th:each="post : ${posts}">
            <td th:text="${post.popularity}"></td>
            <td><a th:href="'/popchange?postid=' + ${post.id} + '&direction=plus&page-number=' + ${posts.getNumber()}"> + </a></td>
            <td><a th:href="'/popchange?postid=' + ${post.id} + '&direction=minus&page-number=' + ${posts.getNumber()}"> - </a></td>
            <td><a th:href="'/post/?postid=' + ${post.id}" th:text="${post.title}"></a></td>
            <td th:text="${post.creationDate}"></td>
        </tr>
    </table>
    <div>
        <a th:href="'/?page-number=' + ${posts.getNumber()}" th:if="${posts.getNumber() > 0}">previous</a>
        <span> | </span>
        <a th:href="'/?page-number=' + ${posts.getNumber()+2}">next</a>
    </div>
</div>
</body>
</html>